@import '../../App.css';

.sponsors__container {
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
    padding: 1.5rem 0;
}

.sponsors__logo {
    display: flex;
    justify-content: center;
}

.sponsors__logo img {
    width: 80px;
    filter: opacity(70%);
}

.sponsors__logo img:hover {
    filter: none;
}