@import '../../App.css';

.newsletter{
  text-align: center;
}

.newsletter__description{
  margin-bottom: var(--mb-2);
  font-size: var(--small-font-size);
  color: var(--dark-color-light);
}

.newsletter__form{
  display: grid;
  grid-template-columns: 1fr .5fr;
}

.newsletter__input{
  outline: none;
  border: none;
  background-color: var(--gray-color);
  padding: 0 1rem;
}