@import '../../App.css';

.featured__container{
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.featured__product{
  transition: .3s;
}

.featured__product:hover{
  transform: translateY(-.5rem);
}

.featured__box{
  position: relative;
  display: flex;
  justify-content: center;
  background-color: var(--gray-color);
}

.featured__new{
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--first-color);
  padding: .3rem .75rem;
  font-size: var(--small-font-size);
  color: var(--white-color);
}

.featured__data{
  text-align: center;
}

.featured__name{
  margin-bottom: var(--mb-1);
  text-transform: uppercase;
  font-size: var(--normal-font-size);
}

.featured__price{
  color: var(--dark-color-light);
  font-weight: var(--font-semi);
}

@media screen and (min-width: 768px){
  .featured__container{ 
    grid-template-columns: repeat(4,1fr);
  }
}