@import '../../App.css';

.home {
  background-color: var(--header-height);
}

.home__container{
  height: calc(100vh - var(--header-height));
}

.home__data{
  padding-top: 6rem;
}

.home__title{
  align-self: center;
  font-size: var(--big-font-size);
  line-height: 1;
  letter-spacing: .5rem;
  margin-bottom: 4rem;
}

.home__title span {
  font-size: var(--h1-font-size);
}

.home__img{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}

.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--white-color);
  padding: 1rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-semi);
  transition: .3s;
}

.button:hover {
  background-color: var(--first-color-alt);
}